<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body class="fixed-left">
<div id="wrapper">
    <!--Header-->
    <div id="header" th:replace="~{fragments/header :: header-body}"></div>
    <!--END Header-->
    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title"会员管理</h4>
                    </div>
                    <div class="col-md-12">
                        <input hidden="true" th:value="${member!=null and member.id!=null }?${member.id}: ''" />

                        <div class="form-group col-md-6" style="padding: 0 10px 0 0;">商品名称
                            <input type="text" class="form-control" placeholder="请输入名称（必须）" name="title"
                                   required="required"
                                   aria-required="true"
                                   th:value="${income!=null and income.name!=null }?${income.name}: ''"/>
                        </div>

                        <div class="form-group col-md-6" style="padding: 0 10px 0 0;clear:both;">数量
                            <input type="text" class="form-control" placeholder="请输入数量（必须）" name="title"
                                   required="required"
                                   aria-required="true"
                                   th:value="${income!=null and income.number!=null }?${income.number}: ''"/>
                        </div>

                        <div class="form-group col-md-6" style="padding: 0 10px 0 0;clear:both;">价格
                            <input type="text" class="form-control" placeholder="请输入价格（必须）" name="title"
                                   required="required"
                                   aria-required="true"
                                   th:value="${income!=null and income.price!=null }?${income.price}: ''"/>
                        </div>

                        <div class="form-group col-md-6" style="padding: 0 10px 0 0;clear:both;">供应商
                            <input type="text" class="form-control" placeholder="请输入供应商（必须）" name="title"
                                   required="required"
                                   aria-required="true"
                                   th:value="${income!=null and income.supplier!=null }?${income.supplier}: ''"/>
                        </div>

                    </div>
                </div>
                <!--Footer-->
                <div id="footer-content" th:replace="~{fragments/footer :: footer-content}"></div>
                <!--END Footer-->
            </div>
        </div>
    </div>
</div>
<div id="footer" th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>