<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<div th:fragment="footer-content">
    <!--<footer class="footer">-->
        <!--<div>&copy;版权所有&nbsp;<a href="http://www.siriyang.cn">Retail Management</a>&nbsp;保留一切权力</div>-->
        <!--<div>蜀ICP备19008337号</div>-->
    <!--</footer>-->
</div>
<div th:fragment="footer">
<script th:src="@{//cdn.bootcss.com/jquery/2.2.3/jquery.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
</div>
</html>