<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body class="flxed-left">

<div id="wrapper">

    <!--Header-->
    <div id="header" th:replace="~{fragments/header :: header-body}"></div>
    <!--END Header-->

    <div class="content-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">仪表盘</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bx-shadow bg-info">
                                <span class="mini-stat-icon"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    现存<span class="counter" th:text="${merchandiseNum}"></span>件商品
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-success bx-shadow">
                                <span class="mini-stat-icon"><i class="fa fa-cloud-upload"
                                                                aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    总计<span class="counter" th:text="${merchandiseClass}"></span>类商品
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-primary bx-shadow">
                                <span class="mini-stat-icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    已经注册<span class="counter" th:text="${memberNum}"></span>个会员
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <div class="mini-stat clearfix bg-purple bx-shadow">
                                <span class="mini-stat-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                                <div class="mini-stat-info text-right">
                                    已记录<span class="counter" th:text="${logNum}"></span>条日志
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">最新出货记录</h4>
                                </div>
                                <div class="panel-body">
                                    <div th:if="${salelog}== null or ${#lists.size(salelog)}==0">
                                        <div class="alert alert-warning">
                                            还没有出货记录.
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="sale : ${salelog}">
                                            <span th:title="${sale.updateTime}" th:text="${sale.merchandisename}"></span>
                                            <span class="badge badge-primary" th:text="'售价：'+${sale.sale_price}"></span>
                                            <span class="badge badge-primary" th:text="'数量：'+${sale.number}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">最新进货记录</h4>
                                </div>
                                <div class="panel-body">
                                    <div th:if="${incomelog}== null or ${#lists.size(incomelog)}==0">
                                        <div class="alert alert-warning">
                                            还没有进货记录.
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="income : ${incomelog}">
                                            <span th:title="${income.updateTime}" th:text="${income.merchandisename}"></span>
                                            <span class="badge badge-primary"
                                                  th:text="'进价：'+${income.income_price}"></span>
                                            <span class="badge badge-primary" th:text="'数量：'+${income.number}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">系统日志</h4>
                                </div>
                                <div class="panel-body">
                                    <div th:if="${systemlog}== null or ${#lists.size(systemlog)}==0">
                                        <div class="alert alert-warning">
                                            还没有系统日志.
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="log : ${systemlog}">
                                            <span th:title="${log.updateTime}" th:text=" ${log.info}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Footer Content-->
                <div id="footer-content" th:replace="~{fragments/footer :: footer-content}"></div>
                <!--END Footer Content-->

            </div>
        </div>
    </div>
</div>
</div>

<div id="footer" th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>